$minWidth: 390;
$midWidth: 768;
$maxWidth: 1512;

//adaptive property w minWidth / maxWidth
@mixin adaptive($property, $minValue, $maxValue) {
  #{$property}: calc(
    #{$minValue + px} + ($maxValue - $minValue) * ((100vw - #{$minWidth + px}) /
          ($maxWidth - $minWidth))
  );

  @media screen and (max-width: #{$minWidth + px}) {
    #{$property}: $minValue + px;
  }

  @media screen and (min-width: #{$maxWidth + px}) {
    #{$property}: $maxValue + px;
  }
}

//adaptive property w midWidth / maxWidth
@mixin adaptiveMid($property, $minValue, $maxValue) {
  #{$property}: calc(
    #{$minValue + px} + ($maxValue - $minValue) * ((100vw - #{$midWidth + px}) /
          ($maxWidth - $midWidth))
  );

  @media screen and (max-width: #{$midWidth + px}) {
    #{$property}: $minValue + px;
  }

  @media screen and (min-width: #{$maxWidth + px}) {
    #{$property}: $maxValue + px;
  }
}

//for hidden objects
@mixin isHidden($value: 100%) {
  position: absolute;
  z-index: 1;
  top: $value;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;  
}