.italic-type {
    font-style: italic;
}

.medium-type {
    font-weight: 500;
    color: rgba(255, 255, 255, 0.83);
}

.bold-type {
    font-weight: 700;
}

.text-grey {
    color: #696969;
}

.text-dark-color {
    color: #2D2D2D;
}

.brand-color-text {
    color: #A9826C;
}

.accordion-color-text {
  color: #9b715a;
}