:root {
  --color-standard-black: #000;
  --color-standard-white: #fff;
  --color-text-gray: #727272;
  --color-copyright-normal: #646464;
  --color-copyright: #626262;
  --color-text-dark: #404040;
  --color-text-dark-gray: #4b4b4b;
  --color-brand: #b18165;
  --color-brand-light: #e3bda8;
  --color-brand-normal: #7e604f;
  --color-brand-dark: #513729;
  --color-brand-link-hover: #ca9577;
  --color-brand-btn-hover: #bd957f;
  --color-brand-normal-hover: #c16a6a;
  --color-brand-light-hover: #ce9c80;
  --color-bg-light: #f9f8f7;
  --color-bg-light-gray: #f5f5f5;
  --color-bg-normal: #efebe8;
  --color-bg-gray: #e3dcd8;
  --color-bg-dark: #0f0d0d;
  --color-bg-dark-rgba: rgba(0, 0, 0, 0.3);
  --color-border-light: #e8dcd5;
  --color-border-gray: #bbb3af;
  --color-border-light-gray: #bfbfbf;
  --color-border-footer-light: #e0dcd9;
  --color-border-footer-dark: #ddd9d7;
  --color-border-side: #dcd7d5;
  --color-border-form: rgba(206, 205, 205, 0.88);
  --color-border-form-hex: #bebebe;
  --color-border-form-light: #d3d3d3;
  --color-border-modal: #b5ada9;
  --color-border-modal-light: #d2d2d2;
  --color-title-dark: #1c1c1c;
  --color-dropdown-gray: #515151;
  --color-dropdown-light-gray: #bcbcbc;
  --color-btn-border: #e1dbd7;
  --color-btn-border-hover: #b6a69d; //footer form btn color too
  --color-btn-hover: rgba(255, 255, 255, 0.79);
  --color-hero-light: rgba(255, 255, 255, 0.85);
  --color-placeholder-gray: #727272;
  --color-placeholder-normal-gray: #848484;
  --color-placeholder-normal: #a59d9d;
  --color-pseudo-gray: #a79991;
  --color-brand-dark-icon: #98877d;
  --color-brand-normal-icon: #82746c;
  --color-brand-icon: #705b4f;
  --color-brand-icon-hex: #c9ae9e;
  --color-brand-icon-super-light: #ecded6;
  --color-mob-light: rgba(255, 255, 255, 0.6);
  --color-mob-gray: #616161;
  --color-mob-dark: #767676fa;
  --color-mob-dark-rgba: rgba(255, 255, 255, 0.169);
  --color-link-gray: #737373;
  --color-link-dark: rgba(0, 0, 0, 0.67); 
  --color-btn-dark: rgba(0, 0, 0, 0.82);
  --color-icon-light-gray: #6a6a6a;
  --color-icon-dark: #525252;
  --color-gradient-light: linear-gradient(
      0deg,
      rgba(219, 219, 219, 0.2) -4.46%,
      rgba(255, 255, 255, 0) 24.96%
    ),
    #fff;
  --color-gradient: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2) -18.15%,
      rgba(255, 255, 255, 0) 25.05%
    ),
    linear-gradient(0deg, #fff -15.98%, rgba(255, 255, 255, 0) 19.92%);
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;