:root {
    --color-standard-black:#000;
    --color-standard-white: #fff;
    --color-border-gray: #bbb3af;
    --color-text-gray: #727272;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;