.about-us {
  background-color: #f9f8f7; //перевірити фон
  padding-bottom: 35px;

  &__container {
    background-image: url(/images/abous-us-page.webp);
    background-position: 84% top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;

    @media screen and (min-width: $bp-tablet) {
      padding: 135px 0 100px;
    }

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/abous-us-page@2x.webp);
    }
  }

  &__content {
    max-width: 400px;

    @media screen and (min-width: $bp-tablet) {
      max-width: 614px;
    }
  }

  &__title {
    color: #fff;
    border-bottom: 1px solid rgba(235, 235, 235, 0.49);
    margin-bottom: 0.875em;
    @include adaptive(font-size, 25, 40);
    @include adaptive(padding-bottom, 20, 35);
  }

  &__text {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.79);
    @include adaptive(font-size, 13, 23);
  }
}
