.about-us-preview-section {
  &__inner {
    background-image: url(/images/about-us-preview-mob.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 140px 40px 108px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/about-us-preview-mob@2x.webp);
    }

    @media screen and (min-width: $bp-mobile) {
      background-image: none;
      text-align: left;
      padding: 40px 0;
      max-width: 634px;
      align-self: center;
    }
  }

  &__title {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    margin-bottom: 0.92em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    @include adaptive(font-size, 25, 35);

    @media screen and (min-width: $bp-tablet) {
      font-weight: 700;
    }
  }

  &__text {
    @media screen and (min-width: $bp-mobile) {
      color: rgba(255, 255, 255, 0.88);
    }
  }

  &__btn {
    display: none;

    @media screen and (min-width: $bp-mobile) {
      display: block;
    }
  }

  &__list {
    font-family: "Cormorant SC", serif;
    font-weight: 700;
    font-size: 13px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and (min-width: $bp-mobile) {
      display: none;
    }
  }
}
