.benefits-section {
  padding: 32px 0 60px;
  text-align: center;
  color: var(--color-standard-black);

  @media screen and (min-width: $bp-tablet) {
    display: none;
  }

  &__container {
    padding: 0 50px;

    @media screen and (min-width: $bp-mobile) {
      padding: 0 40px;
    }
  }

  &__title {
    font-size: 25px;
    margin-bottom: 2.4em;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-left: 1px solid var(--color-border-side);
    border-right: 1px solid var(--color-border-side);
    padding-bottom: 20px;
    margin-bottom: 40px;
  }

  &__img {
    fill: var(--color-brand-dark-icon);
    margin-bottom: 16px;
  }

  &__list-title {
    font-size: 16px;
    margin-bottom: 1em;
  }

  &__text {
    max-width: 148px;
    margin: 0 auto;
    font-size: 11px;
  }
}