.main-container {
  width: 100%;
  max-width: 1512px;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 28px;

  @media screen and (min-width: $bp-mobile) {
    padding: 0 40px;
  }
}
