.dropdown {
  @include isHidden;
  background-color: var(--color-bg-light);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: max-height 0.3s, padding 0.3s;
  cursor: auto;

  &__container {
    width: 100%;
    max-width: 1512px;
    margin: 0 auto;
    padding: 0 32px;

    @media screen and (min-width: $bp-desktop) {
      padding: 0 100px;
    }
  }

  &__flex {
    display: flex;
    gap: 20px;
  }

  &__list-wrap {
    flex-basis: calc((100% - 20px * 4) / 4);
  }

  &__title {
    color: var(--color-title-dark);
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    @include adaptiveMid(font-size, 20, 25);
  }

  &__list-title {
    margin-bottom: 0.8em;
  }

  &__item {
    @include adaptiveMid(font-size, 14, 18);
    color: var(--color-dropdown-gray);
    margin-bottom: 1.12em;
    transition: color 0.3s;

    @media (hover: hover) {
      &:hover {
        color: var(--color-brand);
      }
    }
  }
}

.location-dropdown {
  &__inner {
    display: flex;
    flex-basis: 55%;
    gap: 20px;
  }

  &__block {
    flex-basis: calc((100% - 20px) / 2);
  }

  &__title {
    margin-bottom: 32px;
  }

  &__map-wrapper {
    flex-grow: 1;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-dropdown-light-gray);
      opacity: 0.2;
    }
  }

  &__map {
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-dropdown-light-gray);
  }
}

.open-dropdown {
  @media (hover: hover) {
    &:hover .dropdown {
      max-height: 1000px;
      padding: 24px 0;
    }
  }
}
