.favourites-modal {
  background-color: #fff;

  @media screen and (min-width:$bp-tablet) {
    position: relative;
    max-width: 882px;
    max-height: 603px;
  }

  &__shadow {
    //position: absolute;z-index: 1; 
    /*
    background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2) -18.15%,
      rgba(255, 255, 255, 0) 25.05%
    ),
    linear-gradient(0deg, #fff -15.98%, rgba(255, 255, 255, 0) 19.92%);
  */
  }  

  &__header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid #d2d2d2;
  }

  &__cards {
    background-color: #fff;
    padding: 32px 28px;
    position: relative;
    //z-index: -1;

    @media screen and (min-width:$bp-tablet) {
      padding: 32px 58px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    @media screen and (min-width:$bp-mobile) {
      gap: 40px 64px;
    }
  }

  &__item {
    flex-basis: calc((100% - 20px) / 2);

    @media screen and (min-width:$bp-mobile) {
      flex-basis: calc((100% - 64px * 2) / 3);
    }
  }
}

.favourites-icon {
  width: 20px;
  fill: #6a6a6a;

  @media screen and (min-width:$bp-tablet) {
    width: 25px;
  }
}
