.header {
  padding: 60px 0 24px;
  background-color: var(--color-standard-white);
  border-bottom: 1px solid var(--color-border-light);
  position: relative;

  @media screen and (min-width: $bp-tablet) {
    padding: 42px 0 0;
    border-color: var(--color-border-gray);
  }

  &:before {
    @media screen and (min-width: $bp-tablet) {
      content: "";
      width: 100%;
      padding-top: 42px;
      background-color: var(--color-standard-black);
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__container {
    width: 100%;
    max-width: 1512px;
    margin: 0 auto;
    padding: 0 24px;

    @media screen and (min-width: $bp-desktop) {
      padding: 0 32px;
    }
  }

  &__flex {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__block {
    display: flex;
    flex-basis: 40%;
    align-items: center;

    &--right {
      justify-content: flex-end;
    }

    @media screen and (min-width:$bp-tablet) {
      gap: 20px;
    }

    @media screen and (min-width: $bp-desktop) {
      gap: 44px;
    }
  }

  &__location {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
      padding: 24px 0;
      color: var(--color-brand-normal-icon);
      transition: color 0.3s;
    }

    @media (hover: hover) {
      cursor: pointer;

      &:hover {
        color: var(--color-brand-light-hover);
      }
    }
  }

  //header nav
  &__nav {
    display: none;
    @media screen and (min-width: $bp-tablet) {
      display: block;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    @include adaptiveMid(gap, 16, 36);
  }

  &__item {
    @include adaptiveMid(font-size, 15, 17);
    flex-shrink: 0;
    color: var(--color-link-dark);
    text-transform: uppercase;
    padding: 29px 0;
    transition: color 0.3s;

    @media (hover: hover) {
      cursor: pointer;
      
      &:hover {
        color: var(--color-brand);
      }
    }
  }

  //header actions
  &__actions {
    display: flex;
    align-items: center;
    @include adaptiveMid(gap, 16, 36);
  }

  &__actions-item {
    &--mob {
      @media screen and (min-width: $bp-tablet) {
        display: none;
      }
    }

    &--tablet {
      display: none;
      @media screen and (min-width: $bp-tablet) {
        display: block;
      }
    }

    &--desktop {
      display: none;
      @media screen and (min-width: $bp-desktop) {
        display: block;
      }
    }
  }

  &__btn {
    position: relative;
    color: var(--color-brand-icon);
    transition: color 0.3s;

    & > svg {
      width: 16px;

      @media screen and (min-width: $bp-tablet) {
        width: 22px;
      }
    }

    & > .cart-circle {
      display: none;

      @media screen and (min-width: $bp-desktop) {
        display: block;
        width: 10px;
        height: 10px;
        background-color: var(--color-brand-icon-hex);
        border-radius: 50%;
        position: absolute;
        right: 0;
        bottom: 0;
        transition: background-color 0.3s;
      }
    }

    @media (hover: hover) { //hover for btn
      &:hover {
        color: var(--color-brand);
      }

      &:hover > .cart-circle {
        background-color: var(--color-brand-icon-super-light);
      }
    }
  }

  //mob
  &__burger {
    color: var(--color-brand-icon);

    @media screen and (min-width: $bp-tablet) {
      display: none;
    }
  }
}

//if touch screen on tablet/desktop
.touch {
  display: flex;
  align-items: center;
  gap: 6px;

    & > .arrow {
      border-top: 8px solid var(--color-link-dark);
      border-left: 6px solid var(--color-standard-white);
      border-right: 6px solid var(--color-standard-white);
    }
}
