.header {
  padding: 60px 0 32px;
  background-color: var(--color-standard-white);
  border-bottom: 1px solid var(--color-border-light);
  position: relative;

  @media screen and (min-width: $bp-tablet) {
    padding: 42px 0 0;
    border-color: var(--color-border-gray);
  }

  &__container {
    width: 100%;
    max-width: 1512px;
    margin: 0 auto;
    padding: 0 24px;

    @media screen and (min-width: $bp-tablet) {
      padding: 0 32px;
    }
  }

  &__flex {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__block {
    //mixin mb
    flex-basis: 40%;
    display: flex;
    align-items: center;
    @include adaptiveMid(gap, 20, 40);

    &--right {
      justify-content: flex-end;
    }

    @media screen and (min-width: $bp-desktop) {
      flex-basis: content;
      gap: 44px;
    }
  }

  &__location {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
      padding: 24px 0;
      cursor: pointer;

      &:hover > .header-icon-location {
        fill: var(--color-brand-light-hover);
      }

      &:hover .dropdown {
        display: block;
      }
    }
  }

  //header nav
  &__nav {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: block;
    }
  }

  &__menu {
    //mixin mb
    display: flex;
    align-items: center;
    @include adaptive(gap, 16, 36);
  }

  &__item {
    @include adaptiveMid(font-size, 15, 17);
    flex-shrink: 0;
    padding: 29px 0;

    @media screen and (min-width: $bp-tablet) {
      &:hover > .header__link {
        color: var(--color-brand);
      }
    }

    @media screen and (min-width: $bp-desktop) {
      cursor: pointer;
    }
  }

  &__link {
    color: var(--color-standard-black);
    opacity: 0.67;
    transition: color 0.3s;
  }

  //header actions

  &__actions {
    //mixin mb
    display: flex;
    align-items: center;
    @include adaptive(gap, 16, 36);
  }

  &__actions-item {
    &--mob {
      @media screen and (min-width: $bp-tablet) {
        display: none;
      }
    }

    &--tablet {
      display: none;
      @media screen and (min-width: $bp-tablet) {
        display: block;
      }
    }

    &--desktop {
      display: none;
      @media screen and (min-width: $bp-desktop) {
        display: block;
      }
    }
  }

  &__btn {
    &:hover > .header-icon {
      @media screen and (min-width: $bp-tablet) {
        fill: var(--color-brand);
      }
    }

    &:hover .dropdown {
      display: block;
    }
  }

  &:before {
    @media screen and (min-width: $bp-tablet) {
      content: "";
      width: 100%;
      padding-top: 42px;
      background-color: var(--color-standard-black);
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  //mobile

  &__burger {
    display: block;
    @media screen and (min-width: $bp-tablet) {
      display: none;
    }
  }
}
