.header {
  padding: 60px 0 32px;
  background-color: var(--color-standard-white);
  border-bottom: 1px solid #e8dcd5;
  position: relative;

  @media screen and (min-width: $bp-tablet) {
    padding: 42px 0 0;
    border-color: var(--color-border-gray);
  }

  &__container {
    width: 100%;
    max-width: 1512px;
    margin: 0 auto;
    padding: 0 24px;

    @media screen and (min-width: $bp-tablet) {
      padding: 0 32px;
    }
  }

  &__flex {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__block {
    //mixin mb
    flex-basis: 40%;
    display: flex;
    align-items: center;
    @include adaptiveMid(gap, 20, 40);

    &--right {
      justify-content: flex-end;
    }

    @media screen and (min-width: $bp-desktop) {
      flex-basis: content;
      gap: 44px;
    }
  }

  &__location {
    display: none;
    padding: 24px 0;
    cursor: pointer;

    &:hover > .header-icon-location {
      fill: #ce9c80;
    }

    &:hover .dropdown {
      display: block;
    }

    @media screen and (min-width: $bp-desktop) {
      display: block;
    }
  }

  //header nav

  &__nav {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: block;
    }
  }

  &__menu {
    //mixin mb
    display: flex;
    align-items: center;
    @include adaptive(gap, 16, 36);
  }

  &__item {
    @include adaptiveMid(font-size, 15, 17);
    flex-shrink: 0;
    padding: 29px 0;
    cursor: pointer;

    @media screen and (min-width: $bp-tablet) {
      &:hover > .header__link {
        color: #b18165;
      }
    }
  }

  &__link {
    color: var(--color-standard-black);
    opacity: 0.67;
    transition: color 0.3s;
  }

  //header actions

  &__actions {
    //mixin mb
    display: flex;
    align-items: center;
    @include adaptive(gap, 16, 36);
  }

  &__actions-item {
    &--mob {
      display: block;
      @media screen and (min-width: $bp-tablet) {
        display: none;
      }
    }

    &--tablet {
      display: none;

      @media screen and (min-width: $bp-tablet) {
        display: block;
      }
    }

    &--desktop {
      display: none;

      @media screen and (min-width: $bp-desktop) {
        display: block;
      }
    }
  }

  &__btn {
    &:hover > .header-icon {
      //зробити заливку для фейворіт
      @media screen and (min-width: $bp-tablet) {
        fill: #b18165;
      }
    }

    &:hover .dropdown {
      display: block;
    }
  }

  &:before {
    @media screen and (min-width: $bp-tablet) {
      content: "";
      width: 100%;
      padding-top: 42px;
      background-color: var(--color-standard-black);
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  //mobile

  &__burger {
    display: block;
    @media screen and (min-width: $bp-tablet) {
      display: none;
    }
  }
}

.mobile-menu {
  display: none; //delete
  position: fixed;
  top: 0;
  left: 0;
  width: 86vw;
  height: 100vh;
  z-index: 999;
  padding: 50px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);

  @media screen and (min-width: $bp-mobile) {
    width: 50vw;
  }

  @media screen and (min-width: $bp-tablet) {
    // display: none;
  }

  &__btn-close {
    font-family: "Karla", sans-serif;
    font-weight: 400;
    color: white;
    opacity: 0.8;
    position: absolute;
    top: 20px;
    right: 20px;
    border-bottom: 1px solid white;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.5;
    }
  }

  &__list {
    margin-bottom: 2em;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.169);
  }

  &__sublist {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  &__item {
    font-size: 18px;
    &:hover .mobile-menu__sublist {
      max-height: 1000px;
      transition: max-height 0.3s;
    }
  }

  &__item, 
  &__login {
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    border-radius: 1px;
  }

  &__link {
    display: block;
    padding: 4px 6px;
    transition: color 0.3s, background-color 0.3s;

    &:hover {
      color: rgba(255, 255, 255, 0.8);
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  &__login {
    width: 100%;
    padding: 24px 0;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.169);
    transition: background-color .3s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.148);
    }
  }
}
