.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-rgba-30);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s, visibility 0.3s;

  @media screen and (min-width: $bp-mobile) {
    padding: 20px;
  }

  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

//modal
.modal {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  @media screen and (min-width: $bp-tablet) {
    border-radius: 4px;
  }

  &__wrap {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  &__header {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    position: sticky;
    top: 0;
    z-index: 1;

    &--white {
      background-color: var(--color-standard-white);
    }

    &--gradient {
      background: var(--color-gradient-light);
    }

    @media screen and (min-width: $bp-tablet) {
      padding: 35px 44px 32px;
      gap: 26px;
    }
  }

  &__close {
    width: 24px;
    transition: fill 0.3s;

    &:hover {
      fill: var(--color-brand-normal-hover);
    }

    @media screen and (min-width: $bp-tablet) {
      width: 28px;
    }
  }

  &__border {
    border-bottom: 1px solid var(--color-border-modal);
  }

  &__title {
    flex-grow: 1;
    color: var(--color-standard-black);
    margin: 0;
    @include adaptive(font-size, 22, 30);
  }

  &__form-wrapper {
    padding: 32px 24px;

    @media screen and (min-width: $bp-tablet) {
      padding: 40px 54px;
    }
  }

  &__form-inner {
    display: flex;
    flex-direction: column;
    gap: 25px;

    @media screen and (min-width: $bp-tablet) {
      gap: 40px;
    }
  }

  &__form-field {
    position: relative;
  }

  &__label {
    top: 16px;
    left: 20px;
  }

  &__input {
    width: 100%;
    background-color: transparent;
    padding: 8px;
    border-radius: 1px;
    border: 1px solid var(--color-border-form-light);
    font-family: "Karla", sans-serif;
    font-weight: 400;
    @include adaptive(font-size, 14, 19);

    &::placeholder {
      color: var(--color-placeholder-normal-gray);
      @include adaptive(font-size, 14, 19);
    }

    @media screen and (min-width: $bp-tablet) {
      padding: 16px 20px;
    }
  }

  &__link {
    color: var(--color-link-gray);
    margin-bottom: 1.25em;
    transition: color 0.3s;
    @include adaptive(font-size, 12, 16);

    &:hover {
      color: var(--color-brand-link-hover);
    }
  }

  &__btn {
    width: 100%;
    color: var(--color-standard-white);
    text-align: center;
    font-family: "Karla", sans-serif;
    font-weight: 400;
    border-radius: 1px;
    border: 1px solid var(--color-standard-black);
    background-color: var(--color-btn-dark);
    padding: 10px 0;
    margin-bottom: 0.95em;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    @include adaptive(font-size, 16, 21);

    @media screen and (min-width: $bp-tablet) {
      padding: 15px 0;
    }

    &:hover {
      background-color: var(--color-brand-btn-hover);
      border-color: var(--color-brand-btn-hover);
    }
  }

  &__checkbox {
    text-align: left;
    margin-bottom: 27px;
  }

  &__text {
    color: var(--color-text-dark-gray);
    text-align: center;
    margin-bottom: 0.45em;
    @include adaptive(font-size, 16, 18);
  }

  &__auth {
    display: block;
    color: var(--color-brand);
    text-align: center;
    transition: color 0.3s;
    @include adaptive(font-size, 16, 18);

    &:hover {
      color: var(--color-brand-light);
    }
  }
}

//login modal
.login-modal {
  @media screen and (min-width: $bp-mobile) {
    max-height: 572px;
  }

  &__form-wrap {
    text-align: right;
  }

  &__form-inner {
    margin-bottom: 10px;
  }
}

//sign-up modal
.sign-up-modal {
  @media screen and (min-width: $bp-mobile) {
    max-height: 505px;
  }

  &__form-inner {
    margin-bottom: 28px;

    @media screen and (min-width: $bp-mobile) {
      margin-bottom: 38px;
    }
  }
}

.login-modal,
.sign-up-modal {
  background: var(--color-gradient-light);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);

  @media screen and (min-width: $bp-mobile) {
    max-width: 640px;
  }
}

//favorites modal
.favourites-modal {
  background-color: var(--color-standard-white);
  @media screen and (min-width: $bp-mobile) {
    max-width: 882px;
    max-height: 603px;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: var(--color-gradient);
    pointer-events: none;
  }

  &__border {
    border-bottom: 1px solid var(--color-border-modal-light);
  }

  &__cards {
    padding: 32px 28px;

    @media screen and (min-width: $bp-tablet) {
      padding: 32px 58px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 0;

    @media screen and (min-width: $bp-tablet) {
      gap: 40px 0;
    }
  }

  &__item {
    flex-basis: 48%;

    @media screen and (min-width: $bp-mobile) {
      flex-basis: 32%;
    }

    @media screen and (min-width: $bp-tablet) {
      flex-basis: 28%;
    }
  }
}

.modal-icon {
  width: 24px;
  fill: var(--color-icon-dark);

  @media screen and (min-width: $bp-tablet) {
    width: 32px;
  }
}

.favourites-icon {
  width: 20px;
  fill: var(--color-icon-light-gray);

  @media screen and (min-width: $bp-tablet) {
    width: 25px;
  }
}