.cart {
  position: relative;

  &__circle {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
      width: 10px;
      height: 10px;
      background-color: #c9ae9e;
      border-radius: 50%;
      position: absolute;
      bottom: 4px;
      right: 0;
      transition: background-color 0.3s;
    }
  }

  &:hover > .cart-icon {
    @media screen and (min-width: $bp-tablet) {
      fill: #c28f71;
    }
  }

  &:hover > .cart__circle {
    background-color: #ecded6;
  }
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;

  &--white {
    color: #fff;
    border: 1px solid #fff;
    transition: color 0.3s, border-color 0.3s, background-color 0.3s;

    &:hover {
      color: #000;
      border-color: rgba(255, 255, 255, 0.83);
      background-color: rgba(255, 255, 255, 0.83);
    }
  }

  &--black {
    color: #000000;
    border: 1px solid #000;
    transition: color 0.3s, border-color 0.3s, background-color 0.3s;

    &:hover {
      color: #e3e3e3;
      border-color: rgba(0, 0, 0, 0.9);
      background-color: rgba(0, 0, 0, 0.9);
    }
  }
}
