.checkbox {
  position: relative;

  &__input {
    position: absolute;
    left: 0;

    &:checked + .checkbox__label:before {
      background-color: #b6a69d;
    }
  }

  &__label {
    color: #373737;
    padding-left: 24px;
    cursor: pointer;
    @include adaptive(font-size, 15, 17);

    @media screen and (min-width:$bp-tablet) {
      padding-left: 32px;
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 5%;
      width: 15px;
      height: 15px;
      border: 1px solid #a4a4a4;
      transition: background-color, 0.3s, ease-out;
    }
  }
}
