.dropdown-form {
  width: 100%;
  max-width: 262px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(206, 205, 205, 0.88);
  padding: 0 7px 0 12px;

  &__fieldset {
    flex-grow: 1;
    position: relative;
  }

  &__input {
    width: 100%;
    outline: transparent;
    border: none;
    background-color: transparent;
    padding: 7px 0;
    font-size: 15px;

    &::placeholder {
      color: #727272;
      font-size: 15px;
    }
  }

  &__label {
    top: 7px;
    left: 0;
  }

  &__btn {
    padding: 0 5px;
  }

  &__icon {
    display: block;
  }
}
