.header-search {
  display: none;

  @media screen and (min-width: $bp-tablet) {
    display: flex;
    padding: 0 10px;
    max-width: 196px;
    //@include adaptiveMid(max-width, 160, 196);
    align-items: center;
    border-bottom: 1px solid var(--color-border-form);
  }

  &__input-wrapper {
    position: relative;
  }

  &__input {
    width: 100%;
    padding: 7px 0 5px 5px;
    outline: transparent;
    border: none;
    font-size: 15px;

    &::placeholder {
      font-size: 15px;
      color: var(--color-text-gray);
    }

    @media screen and (min-width: $bp-tablet) {
      font-size: 14px;

    &::placeholder {
      font-size: 14px;
      color: var(--color-text-gray);
    }
    }
  }

  &__label {
    top: 7px;
    left: 5px;
  }

  &__btn {
    padding: 0 5px;
  }
}
