/*додати цю серч форм до всіх форм в хедері потім,
бо різниця тільки в падінгу
*/
.search-form {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-border-form);
}

.search-input {
    position: relative;
}